{% extends 'base.html' %}


{% block head_title %}
    {{ post.title }}
{% endblock %}

{% block banner %}
    {{ post.posted }}
{% endblock %}

{% block content %}

    <li class='post'>
        <article>
            <h2><a class='no-link' href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p>{{ post.body|safe }}</p>
        </article>
    </li>
{% endblock %}

{% block footer %}
    <li class='padded'>
        {% if postPrevious %}
            <a href="{{ postPrevious.get_absolute_url }}">previous</a>
        {% endif %}
        {% if postNext %}
            <a href="{{ postNext.get_absolute_url }}">next</a>
        {% endif %}
    </li>

    <li class='padded'>
        Categories:
        {% if categories %}
            {% for category in categories %}
                <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>　
            {% endfor %}
        {% endif %}
    </li>

    <li class='padded'>
        <a href="/">Homepage</a>
    </li>
{% endblock %}
