{% extends 'base.html' %}

{% block head_title %}
    404 not found
{% endblock %}

{% block pager %}
{% endblock %}
{% block navigator %}
{% endblock %}


{% block content %}
        <li class='post'>
            <article>
                <h2>Page not found</h2>

<p>Sorry, but the requested page could not be found.</p>
            </article>
        </li>

{% endblock %}


{% block footer %}

    <li class='padded'>
        <a class="buttonize square" href="/">Homepage</a>
    </li>
{% endblock %}