<html>
    <head>
        <title>
            {% block head_title %}
                Sun Run Away
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            {% block header %}
                block title
            {% endblock %}

        </header>

            {% block content %}
                if u see this, congratulations!
                you've found a bug of my website!
                please contact darktemplar.f@gmail.com
            {% endblock %}

        <footer>
            {% block footer %}

            {% endblock %}
        </footer>

    </body>
</html>