<html>
    <head>
        <title>
            {% block head_title %}
                Sun Run Away
            {% endblock %}
        </title>
    </head>
    <body>
        <h1>
            {% block title %}
                block title
            {% endblock %}

        </h1>
            {% block content %}
                if u see this, congratulations!
                you've found a bug of my website!
                please contact darktemplar.f@gmail.com
            {% endblock %}
    </body>
</html>