{% extends 'base.html' %}


{% block head_title %}
    {{ block.super }} | {{ post.title }}
{% endblock %}

{% block banner %}
    {{ post.posted }}
{% endblock %}

{% block content %}

    <li class='post'>
        <article>
            <h2><a class='no-link' href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p>{{ post.body|safe }}</p>
        </article>
    </li>
{% endblock %}

{% block footer %}

    <li class='padded'>
        <p>
        <b>Categories:</b>
        {% if categories %}
            {% for category in categories %}
                <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>　
            {% endfor %}
        {% endif %}
        </p>
    </li>

    <li class='padded'>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'sunrunaway'; // required: replace example with your forum shortname
            var disqus_identifier = '{{ post.id }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>



    </li>

    <li class='padded'>
        <a class="buttonize square" href="/">Homepage</a>
    </li>
{% endblock %}
