{% extends 'base.html' %}

{% block head_title %}
    {{ post.title}}
{% endblock %}

{% block header %}
    <h1>{{ post.title}}</h1>
{% endblock %}

{% block content %}
    <p> {{ post.posted }}</p>
    <article>{{ post.body|safe }}</article>
{% endblock %}

{% block footer %}
    {% if postPrevious %}
        <a href="{{ postPrevious.get_absolute_url }}">previous</a>
    {% endif %}
    {% if postNext %}
        <a href="{{ postNext.get_absolute_url }}">next</a>
    {% endif %}
{% endblock %}
